<style>
	.attention {
		background-color: coral;
	}
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header">
            <h3 class="fts-17"> 
				<i ng-hide="true" class="fa fa-envelope tooltip-button demo-icon icon-edit" title=".icon-edit"></i>Sales Person Capacity
			
				<div class="pull-right">
                    <add:new:capacity:sales:person></add:new:capacity:sales:person>
				</div>
			</h3>
			<!-- bread crumbs -->
			<ol class="breadcrumb" style="position:relative; top:25px;">
					<li><a href="#">{{current_month}}</a></li>
					<li><a href="#">{{current_year}}</a></li>
			</ol>
        </div>
    </div>
</div>

<!--Panel--> 
<div class="panel panel-default">
	<div></div>
		<table class="table table-bordered">
			<thead>
				<th>#</th>
				<th>Sales Person Name</th>
				<th class="make_center">Capacity</th>
				<th class="make_center">Remaining Capacity</th>
				<th>Manager</th>
				<th class="make_center">Edit Capacity</th>
                <th class="make_center">View Previous Capacities</th>
                
			</thead>
			<tbody>
				<tr ng-repeat="sp in sales_person_capacities">
					<td ng-bind="$index+1"></td>
					<td>{{sp.sales_person_name}}</td>
					<td class="make_center">{{sp.capacity | handleNull}}</td>
					<td class="make_center">{{sp.remaining_capacity}}</td>
					<td>{{sp.manager.name}}</td>
					<td class="make_center">
						<button class="btn btn-xs btn-info" ng-click="editSpCapacity(sp)">Edit Capacity</button>
					</td>
                    <td class="make_center">
						<a ng-href="previous_capacities/{{sp.sales_person_id}}/sales_person" class="btn btn-xs btn-primary">View Previous Capacities</a>
                    </td>
				</tr>
                
                <tr ng-if="sales_person_capacities.length <= 0"> 
                    <td colspan="7" class="make_center danger">No Record Found</td>
                </tr>
			</tbody>
		</table>
</div>

<!--End: Panel-->
